baloofileinformationrc
BraveSoftware
btop
cava
Code
dconf
dolphinrc
elephant
ghostty
GIMP
go
gtk-3.0
gtk-4.0
kdeglobals
kdenliverc
Kvantum
kwalletrc
mako
matugen
menus
micro
mimeapps.list
Mousepad
mpv
nwg-look
okularpartrc
okularrc
Pulsar
pulse
qt5ct
qt6ct
QtProject.conf
quickshell
README.md
retroarch
rofi
rpcs3
session
shell
starship
swappy
swayosd
systemd
Thunar
trashrc
user-dirs.dirs
user-dirs.locale
uwsm
vlc
walker
wallust
wezterm
xfce4
xsettingsd
yay
zen